Gael Varoquaux <gael.varoquaux@normalesup.org> gvaroquaux <gael.varoquaux@normalesup.org>
Gael Varoquaux <gael.varoquaux@normalesup.org> Gael varoquaux <gael.varoquaux@normalesup.org>
Olivier Grisel <olivier.grisel@ensta.org> ogrisel <olivier.grisel@ensta.org>
Alexandre Gramfort <alexandre.gramfort@inria.fr> Alexandre Gramfort <alexandre.gramfort@gmail.com>
Matthieu Perrot <matthieu.perrot@cea.fr> Matthieu Perrot <revilyo@earth.(none)>
Matthieu Perrot <matthieu.perrot@cea.fr> revilyo <revilyo@earth.(none)>
Vincent Michel <vincent.michel@inria.fr> vincent <vincent@vincent.org>
Vincent Michel <vincent.michel@inria.fr> vincent <vincent@axon.(none)>
Vincent Michel <vincent.michel@inria.fr> vincent M <vm.michel@gmail.com>
Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Bertrand Thirion <bertrand.thirion@inria.fr> bthirion <bertrand.thirion@inria.fr>
Peter Prettenhofer <peter.prettenhofer@gmail.com> pprett <peter.prettenhofer@gmail.com>
Anne-Laure Fouque <afouque@is208050.(none)> Anne-Laure FOUQUE <af216607@is206635.intra.cea.fr>
Vincent Dubourg <vincent.dubourg@gmail.com> dubourg <vincent.dubourg@gmail.com>
Vincent Dubourg <vincent.dubourg@gmail.com> dubourg <dubourg@PTlami14.(none)>
Christian Osendorfer <osendorf@gmail.com> osdf <osendorf@gmail.com> 
James Bergstra <james.bergstra@gmail.com> james.bergstra <james.bergstra@gmail.com>
Xinfan Meng <mxf3306@gmail.com> mxf <mxf@chomsky.localdomain>