Fabian Pedregosa <fabian.pedregosa@inria.fr>	fseoane <fseoane@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Alexandre Gramfort <alexandre.gramfort@inria.fr>	twigster <twigster@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Michel Vincent	<vm.michel@gmail.com>	vmichel <vmichel@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Olivier Grisel	<olivier.grisel@ensta.org>	ogrisel <ogrisel@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Bertrand Thirion <bertrand.thirion@inria.fr>	bthirion <bthirion@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Gael Varoquaux <gael.varoquaux@normalesup.org>	gvaroquaux <gvaroquaux@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
Jake VanderPlas <vanderplas@astro.washington.edu>	jakevdp <jakevdp@22fbfee3-77ab-4535-9bad-27d1bd3bc7d8>
