Alexandre Gramfort <alexandre.gramfort@inria.fr> <alexandre.gramfort@gmail.com>
Alexandre Gramfort <alexandre.gramfort@inria.fr> <alexandre.gramfort@m4x.org>
Alexandre Gramfort <alexandre.gramfort@inria.fr> <gramfort@localhost.(none)>
Alexandre Saint <snt.alex@gmail.com>
Andreas Mueller <amueller@ais.uni-bonn.de>
Andreas Mueller <amueller@ais.uni-bonn.de> <Andreas Mueller@MSRC-3645211.europe.corp.microsoft.com>
Andreas Mueller <amueller@ais.uni-bonn.de> <amueller@ais.uni-bonn.de>
Andreas Mueller <amueller@ais.uni-bonn.de> <amueller@templateimage.ista.local>
Andreas Mueller <amueller@ais.uni-bonn.de> <andy@marvin>
Andreas Mueller <amueller@ais.uni-bonn.de> <t3kcit@gmail.com>
Arnaud Joly <a.joly@ulg.ac.be>
Arnaud Joly <a.joly@ulg.ac.be> <arnaud.joly@yahoo.com>
Arnaud Joly <a.joly@ulg.ac.be> <arnaud.v.joly@gmail.com>
Anne-Laure Fouque <afouque@is208050.(none)> <af216607@is206635.intra.cea.fr>
Ariel Rokem <arokem@berkeley.edu> arokem <arokem@berkeley.edu>
Bala Subrahmanyam Varanasi <balu@agiliq.com>
Bertrand Thirion <bertrand.thirion@inria.fr>
Brandyn A. White <bwhite@dappervision.com>
Brian Cheung <bcheung5@gmail.com> <bcheung@rocky.rfmh.org>
Brian Cheung <bcheung5@gmail.com> <briancheung>
Brian Cheung <bcheung5@gmail.com> <cow@rusty.(none)>
Brian Holt <bh00038@cvplws63.eps.surrey.ac.uk> <bdholt1@gmail.com>
Christian Osendorfer <osendorf@gmail.com>
Clay Woolam <clay@woolam.org>
Danny Sullivan <dsullivan7@hotmail.com> <dbsullivan23@gmail.com>
Denis Engemann <denis-alexander.engemann@inria.fr>
Denis Engemann <denis-alexander.engemann@inria.fr> <denis.engemann@gmail.com>
Denis Engemann <denis-alexander.engemann@inria.fr> <dengemann@Deniss-MacBook-Pro.local>
Denis Engemann <denis-alexander.engemann@inria.fr> dengemann <denis.engemann@gmail.com>
Diego Molla <dmollaaliod@gmail.com> <diego@diego-desktop.(none)>
DraXus <draxus@gmail.com> draxus <draxus@hammer.ugr>
Edouard DUCHESNAY <ed203246@is206877.intra.cea.fr> <duchesnay@is143433.(none)>
Edouard DUCHESNAY <ed203246@is206877.intra.cea.fr> <edouard.duchesnay@gmail.com>
Edouard DUCHESNAY <ed203246@is206877.intra.cea.fr> <edouard@is2206219.(none)>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org>
Emmanuelle Gouillart <emmanuelle.gouillart@nsup.org> <emma@aleph.(none)>
Eustache Diemert <eustache@diemert.fr>
Fabian Pedregosa <fabian.pedregosa@inria.fr>
Fabian Pedregosa <fabian.pedregosa@inria.fr> <fabian@fseoane.net>
Fabian Pedregosa <fabian.pedregosa@inria.fr> <f@bianp.net>
Federico Vaggi <vaggi.federico@gmail.com>
Federico Vaggi <vaggi.federico@gmail.com> <vaggi.federico@GMAIL.COM>
Gael Varoquaux <gael.varoquaux@inria.fr>
Gael Varoquaux <gael.varoquaux@inria.fr> <gael.varoquaux@normalesup.org>
Gael Varoquaux <gael.varoquaux@inria.fr> <varoquau@normalesup.org>
Giorgio Patrini <giorgio.patrini@nicta.com.au>
Giorgio Patrini <giorgio.patrini@nicta.com.au> <giorgiop@users.noreply.github.com>
Gilles Louppe <g.louppe@gmail.com> <g.louppe@ulg.ac.be>
Hamzeh Alsalhi <93hamsal@gmail.com>
Harikrishnan S <hihari777@gmail.com>
Hendrik Heuer <hendrikheuer@gmail.com>
Henry Lin <hlin117@gmail.com>
Hrishikesh Huilgolkar <hrishikesh911@gmail.com> <hrishikesh@QE-IND-WKS007.(none)>
Hugo Bowne-Anderson <hugobowne@gmail.com>
Imaculate <imaculatemosha@yahoo.com>
Immanuel Bayer <mane.desk@gmail.com>
Jacob Schreiber <jmschreiber91@gmail.com>
Jacob Schreiber <jmschreiber91@gmail.com> <jmschr@cs.washington.edu>
Jake VanderPlas <vanderplas@astro.washington.edu> <jakevdp@yahoo.com>
Jake VanderPlas <vanderplas@astro.washington.edu> <jakevdp@gmail.com>
Jake VanderPlas <vanderplas@astro.washington.edu> <vanderplas@astro.washington.edu>
James Bergstra <james.bergstra@gmail.com>
Jaques Grobler <jaques.grobler@inria.fr> <jaquesgrobler@gmail.com>
Jan Schlüter <scikit-learn@jan-schlueter.de>
Jean Kossaifi <jean.kossaifi@gmail.com>
Jean Kossaifi <jean.kossaifi@gmail.com> <jkossaifi@is208616.intra.cea.fr>
Jean Kossaifi <jean.kossaifi@gmail.com> <kossaifi@is208616.intra.cea.fr>
Joel Nothman <joel.nothman@gmail.com> <jnothman@student.usyd.edu.au>
Kyle Kastner <kastnerkyle@gmail.com>
Lars Buitinck <L.J.Buitinck@uva.nl> <Lars@.(none)>
Lars Buitinck <L.J.Buitinck@uva.nl> <l.j.buitinck@uva.nl>
Lars Buitinck <L.J.Buitinck@uva.nl> <larsmans@gmail.com>
Lars Buitinck <L.J.Buitinck@uva.nl> <larsmans@users.noreply.github.com>
Lars Buitinck <L.J.Buitinck@uva.nl> <l.buitinck@esciencecenter.nl>
Loic Esteve <loic.esteve@ymail.com>
Manoj Kumar <manojkumarsivaraj334@gmail.com>
Matthieu Perrot <matthieu.perrot@cea.fr> <revilyo@earth.(none)>
Maheshakya Wijewardena <maheshakya@wso2.com>
Michael Bommarito <michael@bommaritollc.com>
Michael Eickenberg <michael.eickenberg@gmail.com>
Michael Eickenberg <michael.eickenberg@gmail.com> <me232320@is146139.intra.cea.fr>
Samuel Charron <samuel.charron@data-publica.com> <samuel.charron@gmail.com>
Sergio Medina <sergio.medina@inria.fr> <smedina@work4labs.com>
Nelle Varoquaux <nelle.varoquaux@gmail.com>
Nelle Varoquaux <nelle.varoquaux@gmail.com> <nelle@phgroup.com>
Nelle Varoquaux <nelle.varoquaux@gmail.com> <nelle@varoquaux@gmail.com>
Nicolas Goix <goix.nicolas@gmail.com>
Nicolas Pinto <pinto@alum.mit.edu> <pinto@mit.edu>
Noel Dawe <Noel.Dawe@cern.ch> <noel.dawe@gmail.com>
Noel Dawe <Noel.Dawe@cern.ch> <noel.dAwe@cern.ch>
Olivier Grisel <olivier.grisel@ensta.org> <ogrisel@turingcarpet.(none)>
Olivier Grisel <olivier.grisel@ensta.org> <olivier.grisel@ensta.org>
Olivier Hervieu <olivier.hervieu@gmail.com> <olivier.hervieu@tinyclues.com>
Paul Butler <paulgb@gmail.com>
Peter Prettenhofer <peter.prettenhofer@gmail.com>
Raghav RV <rvraghav93@gmail.com>
Raghav RV <rvraghav93@gmail.com> <ragvrv@gmail.com>
Robert Layton <robertlayton@gmail.com>
Roman Sinayev <roman.sinayev@gmail.com>
Roman Sinayev <roman.sinayev@gmail.com> <roman@y570.(none)>
Ronald Phlypo <Ronald.Phlypo@inria.fr>
Satrajit Ghosh <satra@mit.edu> <satrajit.ghosh@gmail.com>
Sebastian Raschka <se.raschka@me.com>
Sebastian Raschka <mail@sebastianraschka.com> <se.raschka@me.com>
Shiqiao Du <lucidfrontier.45@gmail.com>
Shiqiao Du <lucidfrontier.45@gmail.com> <s.du@freebit.net>
Thomas Unterthiner <thomas.unterthiner@gmx.net>
Tim Sheerman-Chase <t.sheerman-chase@surrey.ac.uk> <ts00051@ts00051-desktop.(none)>
Vincent Dubourg <vincent.dubourg@gmail.com>
Vincent Dubourg <vincent.dubourg@gmail.com> <dubourg@PTlami14.(none)>
Vincent Michel <vincent.michel@inria.fr> <vincent.michel@logilab.fr>
Vincent Michel <vincent.michel@inria.fr> <vincent@axon.(none)>
Vincent Michel <vincent.michel@inria.fr> <vincent@vincent.org>
Vincent Michel <vincent.michel@inria.fr> <vm.michel@gmail.com>
Vincent Michel <vincent.michel@inria.fr> <vmic@crater2.logilab.fr>
Vincent Schut <schut@sarvision.nl> <vincent@TIMO.(none)>
Virgile Fritsch <virgile.fritsch@gmail.com>
Virgile Fritsch <virgile.fritsch@gmail.com> <virgile@virgile-Precision-M4400.(none)>
Vlad Niculae <vlad@vene.ro>
Wei Li <kuantkid@gmail.com>
Wei Li <kuantkid@gmail.com> <kuantkid+github@gmail.com>
X006 <x006@x006-icsl.(none)> <x006@x006laptop.(none)>
Xinfan Meng <mxf3306@gmail.com> <mxf@chomsky.localdomain>
Yannick Schwartz <yannick.schwartz@inria.fr> <yannick.schwartz@cea.fr>
Yannick Schwartz <yannick.schwartz@inria.fr> <ys218403@is220245.(none)>
Yannick Schwartz <yannick.schwartz@inria.fr> <yannick.schwartz@gmail.com>
