# Adapted from https://github.com/pandas-dev/pandas/blob/master/azure-pipelines.yml
jobs:
- template: build_tools/azure/posix.yml
  parameters:
    name: Linux
    vmImage: ubuntu-18.04
    matrix:
      # Linux environment to test that scikit-learn can be built against
      # versions of numpy, scipy with ATLAS that comes with Ubuntu Bionic 18.04
      # i.e. numpy 1.13 and scipy 0.19
      py36_ubuntu_atlas:
        DISTRIB: 'ubuntu'
        PYTHON_VERSION: '3.6'
        JOBLIB_VERSION: '0.11'
        SKLEARN_NO_OPENMP: 'True'
      # Linux + Python 3.6 build with OpenBLAS and without SITE_JOBLIB
      py36_conda_openblas:
        DISTRIB: 'conda'
        PYTHON_VERSION: '3.6'
        INSTALL_MKL: 'false'
        NUMPY_VERSION: '1.13.1'
        SCIPY_VERSION: '0.19.1'
        PANDAS_VERSION: '*'
        CYTHON_VERSION: '*'
        PYTEST_VERSION: '*'
        PILLOW_VERSION: '4.0.0'
        MATPLOTLIB_VERSION: '2.1.1'
        # latest version of joblib available in conda for Python 3.6
        JOBLIB_VERSION: '0.13.2'
        COVERAGE: 'true'
      # Linux environment to test the latest available dependencies and MKL.
      # It runs tests requiring pandas and PyAMG.
      pylatest_pip_openblas_pandas:
        DISTRIB: 'conda-pip-latest'
        PYTHON_VERSION: '*'
        PYTEST_VERSION: '4.6.2'
        COVERAGE: 'true'
        CHECK_PYTEST_SOFT_DEPENDENCY: 'true'
        TEST_DOCSTRINGS: 'true'
        CHECK_WARNINGS: 'true'
      pylatest_conda_mkl:
        DISTRIB: 'conda'
        PYTHON_VERSION: '*'
        INSTALL_MKL: 'true'
        NUMPY_VERSION: '*'
        SCIPY_VERSION: '*'
        CYTHON_VERSION: '*'
        PILLOW_VERSION: '*'
        PYTEST_VERSION: '*'
        JOBLIB_VERSION: '*'
        COVERAGE: 'true'

- template: build_tools/azure/posix-32.yml
  parameters:
    name: Linux32
    vmImage: ubuntu-18.04
    matrix:
      py36_ubuntu_atlas_32bit:
        DISTRIB: 'ubuntu-32'
        PYTHON_VERSION: '3.6'
        JOBLIB_VERSION: '0.13'
        SKLEARN_NO_OPENMP: 'True'

- template: build_tools/azure/posix.yml
  parameters:
    name: macOS
    vmImage: xcode9-macos10.13
    matrix:
      pylatest_conda_mkl:
        DISTRIB: 'conda'
        PYTHON_VERSION: '*'
        INSTALL_MKL: 'true'
        NUMPY_VERSION: '*'
        SCIPY_VERSION: '*'
        CYTHON_VERSION: '*'
        PILLOW_VERSION: '*'
        PYTEST_VERSION: '*'
        JOBLIB_VERSION: '*'
        COVERAGE: 'true'

- template: build_tools/azure/windows.yml
  parameters:
    name: Windows
    vmImage: vs2017-win2016
    matrix:
      py37_conda_mkl:
        PYTHON_VERSION: '3.7'
        CHECK_WARNINGS: 'true'
        PYTHON_ARCH: '64'
        PYTEST_VERSION: '*'
        COVERAGE: 'true'
      py36_pip_openblas_32bit:
        PYTHON_VERSION: '3.6'
        PYTHON_ARCH: '32'
