include *.rst
recursive-include doc *
recursive-include examples *
recursive-include sklearn *.c *.cpp *.h *.pyx *.pxd *.pxi *.tp
recursive-include sklearn/datasets *.csv *.csv.gz *.rst *.jpg *.txt *.arff.gz *.json.gz
include COPYING
include README.rst
include pyproject.toml
include sklearn/externals/README
include sklearn/svm/src/liblinear/COPYRIGHT
include sklearn/svm/src/libsvm/LIBSVM_CHANGES
include conftest.py
include Makefile
include MANIFEST.in
include .coveragerc

# exclude from sdist
recursive-exclude asv_benchmarks *
recursive-exclude benchmarks *
recursive-exclude build_tools *
recursive-exclude maint_tools *
recursive-exclude benchmarks *
recursive-exclude .binder *
recursive-exclude .circleci *
exclude .cirrus.star
exclude .codecov.yml
exclude .git-blame-ignore-revs
exclude .mailmap
exclude .pre-commit-config.yaml
exclude azure-pipelines.yml
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.md
exclude SECURITY.md
exclude PULL_REQUEST_TEMPLATE.md
