<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>The Meson Build System</vendor>
  <vendor_url>https://github.com/mesonbuild/meson</vendor_url>

  <action id="com.mesonbuild.install.run">
    <description>Install the given project via Meson</description>
    <message>Authentication is required to install this project</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/python3</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">/usr/bin/meson</annotate>
  </action>

</policyconfig>
