# To generate python_nogil_lock.txt, use the following command:
# docker run -v $PWD:/scikit-learn -it nogil/python bash -c 'pip install pip-tools; pip-compile --upgrade /scikit-learn/build_tools/azure/python_nogil_requirements.txt -o /scikit-learn/build_tools/azure/python_nogil_lock.txt'
#
# The reason behind it is that you need python-nogil to generate the pip lock
# file. Using pip-compile --index and --extra-index will not work, for example
# the latest cython will be picked up from PyPI, rather than the one from the
# python-nogil index
matplotlib
numpy
scipy
cython
joblib
threadpoolctl
pytest==6.2.5
pytest-xdist
