# cruft
.*.swp
*.pyc
.DS_Store
*.pdf

# folder to be used for working on the exercises
workspace

# output of the sphinx build of the documentation
tutorial/_build

# datasets to be fetched from the web and cached locally
data/twenty_newsgroups/20news-bydate.tar.gz
data/twenty_newsgroups/20news-bydate-train
data/twenty_newsgroups/20news-bydate-test

data/movie_reviews/txt_sentoken
data/movie_reviews/poldata.README.2.0

data/languages/paragraphs
data/languages/short_paragraphs
data/languages/html

data/labeled_faces_wild/lfw_preprocessed/
