/**
 * Styling for the installation page. This style sheet should be included only for the
 * install page.
 */

.sd-tab-set {
  .sd-tab-content {
    box-shadow: none !important;
    padding-bottom: 0;

    > p:first-child {
      margin-top: 1rem !important;
    }
  }

  > label.sd-tab-label {
    border: none !important;
    padding: 0.3rem 0;
    margin: 0 0.5%;
    text-align: center;
    font-weight: 400;
    color: var(--pst-color-on-surface) !important;
    background-color: var(--pst-color-surface);
    border-radius: 0.5rem;

    &.tab-6 {
      width: calc((100% / 2) - 1%) !important;
    }

    &.tab-4 {
      width: calc((100% / 3) - 1%) !important;
    }
  }

  > input:checked + label.sd-tab-label {
    font-weight: 600;

    html[data-theme="light"] & {
      background-color: var(--sk-cyan-tint-6);
    }

    html[data-theme="dark"] & {
      background-color: var(--sk-cyan-shades-3);
    }
  }
}
