#$id {
  color: black;
}
#$id pre{
  padding: 0;
}

#$id div.sk-toggleable {
  background-color: white;
}
#$id label.sk-toggleable__label {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: 0.3em;
  box-sizing: border-box;
  text-align: center;
}
#$id label.sk-toggleable__label-arrow:before {
  content: "▸";
  float: left;
  margin-right: 0.25em;
  color: #696969;
}
#$id label.sk-toggleable__label-arrow:hover:before {
  color: black;
}
#$id div.sk-estimator:hover label.sk-toggleable__label-arrow:before {
  color: black;
}
#$id div.sk-toggleable__content {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  text-align: left;
  background-color: $background_color;
  /* background-color: #f0f8ff; */
}
#$id div.sk-toggleable__content pre {
  margin: 0.2em;
  color: black;
  border-radius: 0.25em;
  background-color: $background_color;
  /* background-color: #f0f8ff; */
}
#$id input.sk-toggleable__control:checked~div.sk-toggleable__content {
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
}
#$id input.sk-toggleable__control:checked~label.sk-toggleable__label-arrow:before {
  content: "▾";
}
#$id div.sk-estimator input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: $background_color_hover;
}
#$id div.sk-label input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: $background_color_hover;
}

#$id input.sk-hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#$id div.sk-estimator {
  font-family: monospace;
  background-color: $background_color;
  border: 1px dotted black;
  border-radius: 0.25em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}
#$id div.sk-estimator:hover {
  background-color: $background_color_hover;
}


#$id div.sk-parallel-item::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid gray;
  flex-grow: 1;
}
#$id div.sk-label:hover label.sk-toggleable__label {
  background-color: $background_color_hover;
}
#$id div.sk-serial::before {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 0;
}
#$id div.sk-serial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-right: 0.2em;
  padding-left: 0.2em;
  position: relative;
}
#$id div.sk-item {
  position: relative;
}
#$id div.sk-parallel {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: white;
  position: relative;
}
#$id div.sk-item::before, #$id div.sk-parallel-item::before {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
#$id div.sk-parallel-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  background-color: white;
}
#$id div.sk-parallel-item:first-child::after {
  align-self: flex-end;
  width: 50%;
}
#$id div.sk-parallel-item:last-child::after {
  align-self: flex-start;
  width: 50%;
}
#$id div.sk-parallel-item:only-child::after {
  width: 0;
}
#$id div.sk-dashed-wrapped {
  border: 1px dashed gray;
  margin: 0 0.4em 0.5em 0.4em;
  box-sizing: border-box;
  padding-bottom: 0.4em;
  background-color: white;
}

#$id a.estimator_doc_link {
  float: right;
  font-size: smaller;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: $doc_link_border_dim 1pt solid;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  color: $doc_link_border_dim;
  text-decoration: none;
}

#$id a.estimator_doc_link:hover {
  background-color: $doc_link_text_strong;
  color: white;
  text-decoration: none;
}


#$id div.sk-label label {
font-family: monospace;
font-weight: bold;
display: inline-block;
line-height: 1.2em;
}
#$id div.sk-label-container {
text-align: center;
}
#$id div.sk-container {
/* jupyter's `normalize.less` sets `[hidden] { display: none; }`
   but bootstrap.min.css set `[hidden] { display: none !important; }`
   so we also need the `!important` here to be able to override the
   default hidden behavior on the sphinx rendered scikit-learn.org.
   See: https://github.com/scikit-learn/scikit-learn/issues/21755 */
display: inline-block !important;
position: relative;
}
#$id div.sk-text-repr-fallback {
display: none;
}

/* For the docs link*/

a.sk-estimator-doc-link {
  float: right;
  font-size: smaller;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: $doc_link_border_dim 1pt solid;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  color: $doc_link_border_dim;
  text-decoration: none;
  margin-left: 1ex;
}



div.sk-estimator:hover a.sk-estimator-doc-link:hover,  a.sk-estimator-doc-link:hover {
  background-color: $doc_link_text_strong;
  color: white;
  text-decoration: none;
}

a.sk-estimator-doc-link span {
  display: none;
  z-index: 200;
  position: absolute;
  background: $background_color;
  /* background: #f6e4d2 */
  color: black;
  font-weight: normal;
  padding: .5ex;
  margin: .5ex;
  border: .5pt solid $doc_link_text_strong;
  right: .2ex;
  box-shadow: 2pt 2pt 4pt #999;
  max-width: 30ex;
  width: min-content;
}

a.sk-estimator-doc-link:hover span {
  display: block;
}

div.sk-estimator a.sk-estimator-doc-link {
  color: $doc_link_text_dim;
  border: 1pt solid $doc_link_border_dim;
  background-color: $background_color;
}

div.sk-estimator:hover a.sk-estimator-doc-link {
  background-color: white;
  border: $doc_link_text_strong 1pt solid;
  color: $doc_link_text_strong;
}

div.sk-label-container:hover a.sk-estimator-doc-link {
  background-color: white;
  border: $doc_link_text_strong 1pt solid;
  color: $doc_link_text_strong;
}

div.sk-label-container:hover a.sk-estimator-doc-link:hover, a.sk-estimator-doc-link:hover {
  background-color: $doc_link_text_strong;
  color: white;
  text-decoration: none;
}
