#`id {
  color: black;
}
#$id pre{
  padding: 0;
}

#$id div.sk-toggleable {
  background-color: white;
}
#$id label.sk-toggleable__label {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: 0.3em;
  box-sizing: border-box;
  text-align: center;
}
#$id label.sk-toggleable__label-arrow:before {
  content: "▸";
  float: left;
  margin-right: 0.25em;
  color: #696969;
}
#$id label.sk-toggleable__label-arrow:hover:before {
  color: black;
}
#$id div.sk-estimator:hover label.sk-toggleable__label-arrow:before {
  color: black;
}

/* Drop-down, unfitted case */
#$id div.sk-toggleable__content {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  text-align: left;
  background-color: #fff5e6; /* Light Orange */
}

/* Drop-down, fitted case */
#$id div.sk-toggleable__content.fitted {
  background-color: #f0f8ff; /* Light Blue */
}

/* Content of drop-down, unfitted case */
#$id div.sk-toggleable__content pre {
  margin: 0.2em;
  color: black;
  border-radius: 0.25em;
  background-color: #fff5e6; /* Light Orange */
}

/* Content of drop-down, fitted case */
#$id div.sk-toggleable__content.fitted pre {
  background-color: #f0f8ff; /* Light Blue */
}

#$id input.sk-toggleable__control:checked~div.sk-toggleable__content {
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
}
#$id input.sk-toggleable__control:checked~label.sk-toggleable__label-arrow:before {
  content: "▾";
}

/* Label of estimator dropdown after selection, unfitted*/
#$id div.sk-estimator input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: #ffe0b3; /* Dark Orange */
}

/* Label of estimator dropdown after selection, fitted*/
#$id div.sk-estimator.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: #d4ebff; /* Dark Blue */
}

/* Label of "label" (outer block) dropdown after selection, unfitted */
#$id div.sk-label input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: #ffe0b3; /* Dark Orange */
}

/* Label of "label" (outer block) dropdown after selection, fitted */
#$id div.sk-label.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: #d4ebff;/* Dark Blue */
}


#$id input.sk-hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Estimator box, unfitted */
#$id div.sk-estimator {
  font-family: monospace;
  background-color: #fff5e6; /* Light Orange */
  border: 1px dotted black;
  border-radius: 0.25em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}

/* Estimator box, fitted */
#$id div.sk-estimator.fitted {
  background-color: #f0f8ff; /* Light Blue  */
}

/* Estimator box, darken color on hover, unfitted */
#$id div.sk-estimator:hover {
  background-color: #ffe0b3; /* Dark Orange */
}

/* Estimator box, darken color on hover, fitted */
#$id div.sk-estimator.fitted:hover {
  background-color: #d4ebff; /* Dark Blue */
}


#$id div.sk-parallel-item::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid gray;
  flex-grow: 1;
}

/* Label box, darken color on hover, unfitted */
#$id div.sk-label:hover label.sk-toggleable__label {
  background-color: #ffe0b3; /* Dark Orange */
}

/* Label box, darken color on hover, fitted */
#$id div.sk-label.fitted:hover label.sk-toggleable__label.fitted {
  background-color: #d4ebff; /* Dark Blue */
}

#$id div.sk-serial::before {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 0;
}
#$id div.sk-serial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-right: 0.2em;
  padding-left: 0.2em;
  position: relative;
}
#$id div.sk-item {
  position: relative;
}
#$id div.sk-parallel {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: white;
  position: relative;
}
#$id div.sk-item::before, #$id div.sk-parallel-item::before {
  content: "";
  position: absolute;
  border-left: 1px solid gray;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
}
#$id div.sk-parallel-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  background-color: white;
}
#$id div.sk-parallel-item:first-child::after {
  align-self: flex-end;
  width: 50%;
}
#$id div.sk-parallel-item:last-child::after {
  align-self: flex-start;
  width: 50%;
}
#$id div.sk-parallel-item:only-child::after {
  width: 0;
}
#$id div.sk-dashed-wrapped {
  border: 1px dashed gray;
  margin: 0 0.4em 0.5em 0.4em;
  box-sizing: border-box;
  padding-bottom: 0.4em;
  background-color: white;
}

/* Estimator doc link, unfitted */
#$id a.estimator_doc_link {
  float: right;
  font-size: 1rem;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: #f6e4d2 1pt solid; /* Border of "?", dim, light Orange */
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  color: #f6e4d2; /* Text color of "?", dim, light Orange */
  text-decoration: none;
}

/* Estimator doc link, fitted */
#$id a.estimator_doc_link.fitted {
  border: #afc9e0; /* Border of "?", dim, light Blue */
  color: #afc9e0; /* Text color of "?", dim, light Blue */
}

/* Estimator doc link, unfitted, when hovered over */
#$id a.estimator_doc_link:hover {
  background-color: chocolate; /* Change background color to very strong orange */
  color: white; /* Change text color to white */
  text-decoration: none;
}

/* Estimator doc link, fitted, when hovered over */
#$id a.estimator_doc_link.fitted:hover {
  background-color: cornflowerblue; /* Change background color to very strong blue */
  color: white; /* Change text color to white */
  text-decoration: none;
}


#$id div.sk-label label {
font-family: monospace;
font-weight: bold;
display: inline-block;
line-height: 1.2em;
}
#$id div.sk-label-container {
text-align: center;
}

#$id div.sk-container {
/* jupyter's `normalize.less` sets `[hidden] { display: none; }`
   but bootstrap.min.css set `[hidden] { display: none !important; }`
   so we also need the `!important` here to be able to override the
   default hidden behavior on the sphinx rendered scikit-learn.org.
   See: https://github.com/scikit-learn/scikit-learn/issues/21755 */
display: inline-block !important;
position: relative;
}
#$id div.sk-text-repr-fallback {
display: none;
}

/* For the docs link and "i" explaining fitted/unfitted */

/* Default, unfitted text */
.sk-estimator-doc-link {
  float: right;
  font-size: smaller;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: #f6e4d2 1pt solid;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  color: #f6e4d2;
  text-decoration: none!important;
  margin-left: 1ex;
}

/* Fitted text */
.sk-estimator-doc-link.fitted {
  border: #afc9e0 1pt solid;
  color: #afc9e0;
}


/* Unfitted text, when the "?" is hovered over. */
div.sk-estimator:hover .sk-estimator-doc-link:hover, .sk-estimator-doc-link:hover, div.sk-label-container:hover .sk-estimator-doc-link:hover, .sk-estimator-doc-link:hover  {
  background-color: chocolate;
  color: white;
  text-decoration: none;
}

/* Fitted text, when the "?" is hovered over. */
div.sk-estimator.fitted:hover .sk-estimator-doc-link.fitted:hover,  .sk-estimator-doc-link.fitted:hover, div.sk-label-container:hover .sk-estimator-doc-link.fitted:hover, .sk-estimator-doc-link.fitted:hover
{
  background-color: cornflowerblue;
  color: white;
}


/* Box that appears when hovering over the "?", unfitted */
.sk-estimator-doc-link span {
  display: none;
  z-index: 200;
  position: absolute;
  background: #fff5e6;
  color: black;
  font-weight: normal;
  padding: .5ex;
  margin: .5ex;
  border: .5pt solid chocolate;
  right: .2ex;
  box-shadow: 2pt 2pt 4pt #999;
  max-width: 50ex;
  width: min-content;
  min-width: 20ex;
}

/* Box that appears when hovering over the "?", fitted */
.sk-estimator-doc-link.fitted span {
  background: #f0f8ff;
  border: cornflowerblue;
}

.sk-estimator-doc-link:hover span {
  display: block;
}

/* Color of "?" when not hovered over, unfitted */
div.sk-estimator .sk-estimator-doc-link {
  color: #f6e4d2;
  border: 1pt solid #f6e4d2;
  background-color: #fff5e6;
}

/* Color of "?" when not hovered over, fitted */
div.sk-estimator.fitted .sk-estimator-doc-link.fitted {
  color: #afc9e0;
  border: 1pt solid #afc9e0;
  background-color: #f0f8ff;
}

/* Color of "?" when the estimator/label box is hovered over, but the "?" isn't, unfitted */
div.sk-estimator:hover .sk-estimator-doc-link, div.sk-label-container:hover .sk-estimator-doc-link {
  background-color: white;
  border: chocolate 1pt solid;
  color: chocolate;
}

/* Color of "?" when the estimator/label box is hovered over, but the "?" isn't, fitted */
div.sk-estimator.fitted:hover .sk-estimator-doc-link.fitted, div.sk-label-container:hover .sk-estimator-doc-link.fitted {
  border: cornflowerblue 1pt solid;
  background-color: white;
  color: cornflowerblue;
}
