#$id {
  /* Definition of color scheme common for light and dark mode */
  --sklearn-color-text: black;
  --sklearn-color-line: gray;
  /* Definition of color scheme for unfitted estimators */
  --sklearn-color-unfitted-level-0: #fff5e6;
  --sklearn-color-unfitted-level-1: #f6e4d2;
  --sklearn-color-unfitted-level-2: #ffe0b3;
  --sklearn-color-unfitted-level-3: chocolate;
  /* Definition of color scheme for fitted estimators */
  --sklearn-color-fitted-level-0: #f0f8ff;
  --sklearn-color-fitted-level-1: #d4ebff;
  --sklearn-color-fitted-level-2: #b3dbfd;
  --sklearn-color-fitted-level-3: cornflowerblue;

  /* Specific color for light theme */
  --sklearn-color-background: white;
  --sklearn-color-text-on-default-background: black;
  --sklearn-color-border-box: black;
  --sklearn-color-icon: #696969;
  @media (prefers-color-scheme: dark) {
    /* Redefinition of color scheme for dark theme */
    --sklearn-color-text-on-default-background: white;
    --sklearn-color-background: #111;
    --sklearn-color-border-box: white;
    --sklearn-color-icon: #878787;
  }
}

#$id {
  color: var(--sklearn-color-text);
}

#$id pre {
  padding: 0;
}

#$id input.sk-hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Toggleable style: style used for estimator/Pipeline/ColumnTransformer box that is
clickable and can be expanded/collapsed.
- Pipeline and ColumnTransformer use this feature and define the default style
- Estimators will overwrite some part of the style using the `sk-estimator` class
*/

/* Pipeline and ColumnTransformer style (default) */

#$id div.sk-toggleable {
  /* Default theme specific background. It is overwritten whether we have a
  specific estimator or a Pipeline/ColumnTransformer */
  background-color: var(--sklearn-color-background);
}

/* Toggleable label */
#$id label.sk-toggleable__label {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

#$id label.sk-toggleable__label-arrow:before {
  /* Arrow on the left of the label */
  content: "▸";
  float: left;
  margin-right: 0.25em;
  color: var(--sklearn-color-icon);
}

#$id label.sk-toggleable__label-arrow:hover:before {
  color: var(--sklearn-color-text);
}

/* Toggleable content - dropdown */

#$id div.sk-toggleable__content {
  max-height: 0;
  max-width: 0;
  overflow: hidden;
  text-align: left;
  /* unfitted */
  background-color: var(--sklearn-color-unfitted-level-0);
}

#$id div.sk-toggleable__content.fitted {
  /* fitted */
  background-color: var(--sklearn-color-fitted-level-0);
}

#$id div.sk-toggleable__content pre {
  margin: 0.2em;
  border-radius: 0.25em;
  color: var(--sklearn-color-text);
  /* unfitted */
  background-color: var(--sklearn-color-unfitted-level-0);
}

#$id div.sk-toggleable__content.fitted pre {
  /* unfitted */
  background-color: var(--sklearn-color-fitted-level-0);
}

#$id input.sk-toggleable__control:checked~div.sk-toggleable__content {
  /* Expand drop-down */
  max-height: 200px;
  max-width: 100%;
  overflow: auto;
}

#$id input.sk-toggleable__control:checked~label.sk-toggleable__label-arrow:before {
  content: "▾";
}

/* Pipeline/ColumnTransformer-specific style */

#$id div.sk-label input.sk-toggleable__control:checked~label.sk-toggleable__label {
  color: var(--sklearn-color-text);
  background-color: var(--sklearn-color-unfitted-level-2);
}

#$id div.sk-label.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {
  background-color: var(--sklearn-color-fitted-level-2);
}

/* Estimator-specific style */

/* Colorize estimator box */
#$id div.sk-estimator input.sk-toggleable__control:checked~label.sk-toggleable__label {
  /* unfitted */
  background-color: var(--sklearn-color-unfitted-level-2);
}

#$id div.sk-estimator.fitted input.sk-toggleable__control:checked~label.sk-toggleable__label {
  /* fitted */
  background-color: var(--sklearn-color-fitted-level-2);
}

/* Estimator label */

#$id div.sk-label label {
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  line-height: 1.2em;
}

#$id div.sk-label-container {
  text-align: center;
}

/* Estimator-specific */
#$id div.sk-estimator {
  font-family: monospace;
  border: 1px dotted var(--sklearn-color-border-box);
  border-radius: 0.25em;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  /* unfitted */
  background-color: var(--sklearn-color-unfitted-level-0);
}

#$id div.sk-estimator.fitted {
  /* fitted */
  background-color: var(--sklearn-color-fitted-level-0);
}

/* on hover */
#$id div.sk-estimator:hover {
  /* unfitted */
  background-color: var(--sklearn-color-unfitted-level-2);
}

#$id div.sk-estimator.fitted:hover {
  /* fitted */
  background-color: var(--sklearn-color-fitted-level-2);
}

#$id div.sk-parallel-item::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid var(--sklearn-color-line);
  flex-grow: 1;
}

/* Label box, darken color not hovered, unfitted */
#$id div.sk-label label.sk-toggleable__label {
  color: var(--sklearn-color-text-on-default-background);
}

/* Label box, darken color not hovered, fitted */
#$id div.sk-label.fitted label.sk-toggleable__label.fitted {
  color: var(--sklearn-color-text-on-default-background);
}

/* Label box, darken color on hover, unfitted */
#$id div.sk-label:hover label.sk-toggleable__label {
  color: var(--sklearn-color-text);
  background-color: var(--sklearn-color-unfitted-level-2);
}

/* Label box, darken color on hover, fitted */
#$id div.sk-label.fitted:hover label.sk-toggleable__label.fitted {
  color: var(--sklearn-color-text);
  background-color: var(--sklearn-color-fitted-level-2);
}

#$id div.sk-serial::before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--sklearn-color-line);
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 0;
}

#$id div.sk-serial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sklearn-color-background);
  padding-right: 1em;
  padding-left: 1em;
  position: relative;
}

#$id div.sk-item {
  position: relative;
  z-index: 1;
}

#$id div.sk-parallel {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: var(--sklearn-color-background);
  position: relative;
}

#$id div.sk-item::before,
#$id div.sk-parallel-item::before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--sklearn-color-line);
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
}

#$id div.sk-parallel-item {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  background-color: var(--sklearn-color-background);
}

#$id div.sk-parallel-item:first-child::after {
  align-self: flex-end;
  width: 50%;
}

#$id div.sk-parallel-item:last-child::after {
  align-self: flex-start;
  width: 50%;
}

#$id div.sk-parallel-item:only-child::after {
  width: 0;
}

#$id div.sk-dashed-wrapped {
  border: 1px dashed var(--sklearn-color-line);
  margin: 0 0.4em 0.5em 0.4em;
  box-sizing: border-box;
  padding-bottom: 0.4em;
  background-color: var(--sklearn-color-background);
}

/* Estimator doc link, unfitted */
#$id a.estimator_doc_link {
  float: right;
  font-size: 1rem;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: #f6e4d2 1pt solid;
  /* Border of "?", dim, light Orange */
  border-radius: 1rem;
  height: 1rem;
  width: 1rem;
  color: #f6e4d2;
  /* Text color of "?", dim, light Orange */
  text-decoration: none;
}

/* Estimator doc link, fitted */
#$id a.estimator_doc_link.fitted {
  border: #afc9e0;
  /* Border of "?", dim, light Blue */
  color: #afc9e0;
  /* Text color of "?", dim, light Blue */
}

/* Estimator doc link, unfitted, when hovered over */
#$id a.estimator_doc_link:hover {
  background-color: chocolate;
  /* Change background color to very strong orange */
  color: white;
  /* Change text color to white */
  text-decoration: none;
}

/* Estimator doc link, fitted, when hovered over */
#$id a.estimator_doc_link.fitted:hover {
  background-color: cornflowerblue;
  /* Change background color to very strong blue */
  color: white;
  /* Change text color to white */
  text-decoration: none;
}

#$id div.sk-container {
  /* jupyter's `normalize.less` sets `[hidden] { display: none; }`
     but bootstrap.min.css set `[hidden] { display: none !important; }`
     so we also need the `!important` here to be able to override the
     default hidden behavior on the sphinx rendered scikit-learn.org.
     See: https://github.com/scikit-learn/scikit-learn/issues/21755 */
  display: inline-block !important;
  position: relative;
}

#$id div.sk-text-repr-fallback {
  display: none;
}

/* For the docs link and "i" explaining fitted/unfitted */

/* Default, unfitted text */
.sk-estimator-doc-link {
  float: right;
  font-size: smaller;
  line-height: 1em;
  font-family: monospace;
  background-color: white;
  border: #f6e4d2 1pt solid;
  border-radius: 1em;
  height: 1em;
  width: 1em;
  color: #f6e4d2;
  text-decoration: none !important;
  margin-left: 1ex;
}

/* Fitted text */
.sk-estimator-doc-link.fitted {
  border: #afc9e0 1pt solid;
  color: #afc9e0;
}


/* Unfitted text, when the "?" is hovered over. */
div.sk-estimator:hover .sk-estimator-doc-link:hover,
.sk-estimator-doc-link:hover,
div.sk-label-container:hover .sk-estimator-doc-link:hover,
.sk-estimator-doc-link:hover {
  background-color: chocolate;
  color: white;
  text-decoration: none;
}

/* Fitted text, when the "?" is hovered over. */
div.sk-estimator.fitted:hover .sk-estimator-doc-link.fitted:hover,
.sk-estimator-doc-link.fitted:hover,
div.sk-label-container:hover .sk-estimator-doc-link.fitted:hover,
.sk-estimator-doc-link.fitted:hover {
  background-color: cornflowerblue;
  color: white;
}


/* Box that appears when hovering over the "?", unfitted */
.sk-estimator-doc-link span {
  display: none;
  z-index: 200;
  position: absolute;
  background: #fff5e6;
  color: black;
  font-weight: normal;
  padding: .5ex;
  margin: .5ex;
  border: .5pt solid chocolate;
  right: .2ex;
  box-shadow: 2pt 2pt 4pt #999;
  max-width: 50ex;
  width: min-content;
  min-width: 20ex;
}

/* Box that appears when hovering over the "?", fitted */
.sk-estimator-doc-link.fitted span {
  background: #f0f8ff;
  border: cornflowerblue;
}

.sk-estimator-doc-link:hover span {
  display: block;
}

/* Color of "?" when not hovered over, unfitted */
div.sk-estimator .sk-estimator-doc-link {
  color: #f6e4d2;
  border: 1pt solid #f6e4d2;
  background-color: #fff5e6;
}

/* Color of "?" when not hovered over, fitted */
div.sk-estimator.fitted .sk-estimator-doc-link.fitted {
  color: #afc9e0;
  border: 1pt solid #afc9e0;
  background-color: #f0f8ff;
}

/* Color of "?" when the estimator/label box is hovered over, but the "?" isn't, unfitted */
div.sk-estimator:hover .sk-estimator-doc-link,
div.sk-label-container:hover .sk-estimator-doc-link {
  background-color: white;
  border: chocolate 1pt solid;
  color: chocolate;
}

/* Color of "?" when the estimator/label box is hovered over, but the "?" isn't, fitted */
div.sk-estimator.fitted:hover .sk-estimator-doc-link.fitted,
div.sk-label-container:hover .sk-estimator-doc-link.fitted {
  border: cornflowerblue 1pt solid;
  background-color: white;
  color: cornflowerblue;
}
