
.estimator-params table td {
    border: 2px solid rgba(106, 105, 104, 0.232);
    min-width: 2em;

}

.user-set td {
    color:black;
    text-align: left;
}

.default td {
    color: gray;
    text-align: left;
}
