:root {

}
ul{
    list-style: none;
    line-height: 2em; /*separates each line in the list so the horizontal tree line shows in the middle */
}

summary{
    cursor: pointer; /* pointer with a hand */
}


ul li{
    position:relative; /* to position the lines using sudo elements absolutely */
    outline:1px solid green; /*USE THIS LINE to see the green lines */
}
ul li::before{ /* before the content */
    position:absolute;
    left:-10px;
    top:0px;
    border-left:2px solid rgb(240, 4, 4);
    border-bottom:2px solid green;
    content: "";
    width: 8px;
    height: 1em;

}
ul li::after{
    position:absolute;
    left:-10px;
    bottom:0px;
    border-left:2px solid yellow;
    content: "";
    width: 8px;
    height: 100%;
}
ul li:last-child::after{ /* the ::after over-rides the 'after' element */
    display:none;
}
ul.tree > li:after{
    display:none
}
